[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
safety = "*"
pytest = "*"
flake8 = "*"
mypy = "*"

[packages]
pipenv = "*"
pytest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
